<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSProfileName" value="SerialNumberRegistrator"/>
		<add key="AWSProfilesLocation" value=".\credentials"/>
		<add key="AWSRegion" value="eu-central-1"/>
		<add key="TableName" value="DeviceSerialNumbers"/>
		<add key="SerialNrKeyStr" value="SerialNr"/> 
		<add key="RegisteredKeyStr" value="Registered"/>
		<add key="TimeStampUTCKeyStr" value="TimeStampUTC"/>
	</appSettings>
</configuration>
