<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSProfileName" value="Onboarder"/>
		<add key="AWSProfilesLocation" value=".\credentials"/>
		<add key="AWSRegion" value ="eu-central-1"/>
		<add key="DeviceSerialNumber" value="12345678qwe9"/>
		<add key="DeviceCertAndKeySaveLocation" value=".\CrtKey\"/>
		<add key="DeviceCrtFileName" value="Device.crt"/>
		<add key="DeviceKeyFileName" value="Device.key"/>
		<add key="DeviceName" value="Device"/>
	</appSettings>
</configuration>
